body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
     background-color: rgb(0, 0, 0);
     background-image: url(./img/pokeball-logo.png);
     background-repeat: no-repeat;
     background-size: 20rem;
     background-position: center;
     display: flex;
     justify-content: center;
     padding: 8rem 0;
}

.header__title{
    color: #fdfdfd;
    font-size: 8rem;
    text-shadow: 5px 3px 5px #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;

}
.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: #edf0f6;
}

.card__red, .card__blue, .card__green, .card__yellow{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 1rem 1rem 1rem;

    height: 35vh;
    width: 25%;
    border-radius: 25px;
    box-shadow:  10px 3px 3px rgb(129, 124, 124);

}
.card__title{
    color: #ececec;
    text-shadow: 1.5px 1.5px 0 #000;
    font-size: 1.6rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-shadow: 0.5px 1px 3px rgb(27, 26, 26);
    width: 100%;
    text-align: center;
}
.card__text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card__text{
    display: flex;
    margin: 0.5rem 0 0 0.5rem;
    font-size: 1.3rem;
    color: #fdfdfd;
    background-color: #cdd4db56;
    border-radius: 25px;
    text-shadow: 1px 1px 0 #000;
    padding: 0 0.7rem 0 0.7rem;
    box-shadow:  5px 3px 3px rgb(61, 57, 57);

}
.card__image{
    min-width: 50%;
    min-height: 10%;
}

.card__red{
    background: #fa5a5b;
}

.card__green{
    background: #3bb498;
 
}
.card__blue{
    background: #1e6ab1;
  
}
.card__yellow{
    background: #ffd76f;
  
}

footer{
    background: #49d0b0;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;

}
.footer__text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: #fdfdfd;
    margin: 0 .5rem;
}
/* mobile */
@media screen and (max-width: 768px) {
    .header__title{
        font-size: 5rem;
    }
    .card__red, .card__blue, .card__green, .card__yellow{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin: .5rem 1rem;
    
        height: auto;
        width: 100%;
        border-radius: 25px;
        box-shadow:  10px 3px 3px rgb(129, 124, 124);
    
    }
}